/*variable por sass*/
/*-->se define una variable para facilitar la escritura de código
y donde se utilice sólo se llama##-->'variables en sass'*/
$blanco:white;

/*heredar elementos po sass*/
/*-->se define una clase con los elementos específicos y se llama esa
case donde se necesiten dichos elementos*/
.flex{
    display: flex;
    align-items: center;
}

/*para mixin(herencia)*/
/* se define la clase como @mixin--- y se llama dentro de los elementos como 
--- @include seguido de la clase*/

/*anidar elementos por sass*/
/*-->se anidan las clases y se les dan estilos en la misma estructura*/
/*
header{
    a{font-size:20px;}
    img{
        a{}
    }
}
*/

body{
    margin:0;
    font-family: 'Muli', sans-serif;
}
.header{
    @extend .flex;
    /* align-items: center; */
    background-color: #21c08b;
    color: white;
   /*  display: flex; */
    height: 100px;
    top: 0;
    width: 100%;
}
.header__img{
    margin-left: 30px;
    width: 200px;
}
.login{
    background: linear-gradient(#21C08B, #AB88FF);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 30px;
    min-height: calc(100vh - 200px);
}
.login__container{
    background: rgba(255,255,255, 0.1);
    border: 2px solid white;
    border-radius: 40px;
    color: white;
    padding: 60px 68px 40px;
    min-height: 700px;
    width: 300px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.login__container--form{
    display: flex;
    flex-direction: column;

}
.login__container--form label{
    font-size: 14px;
}
.login__container--remember-me{
    color: white;
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
.login__container--remember-me a {
    color: white;
    font-size: 14px;
    text-decoration: none;
}
.login__container--remember-me a:hover{
    text-decoration: underline;
}
                /*'>'--permite asignarle los estilos a todos los div's*/
.login__container--social-media > div{
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-bottom: 10px;
}
.login__container--social-media > div > img {
    width: 30px;
    margin-right: 10px;
}
.login__container--register a{
    font-size: 16px;
    color: $blanco;
    font-weight: bold;
    text-decoration: none;
}
.login__container--register a:hover{
    text-decoration: underline;
}
.input{
    background-color: transparent;
    border-top: 0px;
    border-left: 0px; 
    border-right:0px; 
    border-bottom: 2px solid white;
    margin-bottom: 20px;
    font-family: 'Muli', sans-serif;
    font-size: 16px;
    padding: 0px 20px;
    outline: none;
    height: 50px;
}
::placeholder{
    color: white;    
}
.button{
    background-color: rgba(255,255,255, 0.3);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    color: white;
    font-family: 'Muli', sans-serif;
    font-weight: bold;
    font-size: 16px;
    height: 50px;
    /*espaciado entre letras-->*/letter-spacing: 1.5px; 
    margin: 0px 10px;
    outline: none;

}
.footer{
    align-items: center;
    display: flex;
    height: 100px;
    width: 100%;
    background-color: #AB88FF;
}
.footer a{
    color: white;
    cursor: pointer;
    font-size: 14px;
    padding-left: 30px;
    text-decoration: none;

}
.footer a:hover{
    text-decoration: underline;
}
@media only screen and ( max-width: 500px){
    .login__container{
        background-color: transparent;
        border: none;
        padding:0px;
        width: 100%;
    }
    .footer{
        align-items: flex-start;
        flex-direction: column;
    }
    .footer a{
        margin-top: 10px;
    }
}